.time {
  opacity: .5;
  font-size: .8em;
  text-align: right;
}

.system {
  position: relative;
  width: 100%;
  color: var(--bs-gray-500);
  background: rgba(var(--bs-light-rgb), 1);
}

.system::before,
.system::after {
  content: '';
  display: inline-block;
  position: inherit;
  margin: auto 10px;
  width: 20%;
  height: 1px;
  background: var(--bs-gray-500);
  align-self: center;
  bottom: 15%;
}

.message {
  text-align: left;
  white-space: pre;
  margin-bottom: 0;
}

.messageBox {
  border-radius: 1em;
  width: auto;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.messageBox.right {
  border-top-right-radius: 0.1em;
}

.messageBox.left {
  border-top-left-radius: 0.1em;
}